<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300&amp;subset=latin,cyrillic-ext,cyrillic" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
    <!--link href="/css/bundle.css" rel="stylesheet"-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%= title %>
    <%= meta %>
    <%= link %>
</head>
<body>
<div class="main-container" id="main"><div><%= content %></div></div>
<script async src="http://localhost:8080/bundle-app.js"></script>
<!--script src="http://localhost:3000/js/bundle-app.js"></script-->
</body>
</html>