<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bundle.css" rel="stylesheet">
    <script  src="/js/bundle-app.js" async></script>


    <%= title %>
    <%= meta %>
    <%= link %>
</head>
<body>
<div class="main-container" id="main"><div><%= content %></div></div>
</body>
</html>